/*style de l'entete*/
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#entete{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 62%; 
    position: relative;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
}
.image_entete{
    left: 0;
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}
.nomsite{
  font-size: 42px;
  margin-top: 1%;
  text-align: left;
  margin-left: 2%;
 /* margin: 0px;*/
  padding-top:0px;
  color: white;
  position: relative;
  font-family: Scriptina, "Script MT Bold", "sakkal Majalla"; 
  display: inline-block;
}

#formrecherche{
    position: relative;
    border:1px solid #FFF;
    border-left: none;
    border-right: none;
    background-color:rgb(000,000,000,0.2);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 1%;
    text-align: center;
    padding: 1%;
    margin-top: 13%;
}
#motcle{
    height: 40px;
    width: 300px;
    border:none;
    padding-left: 2px;
    font-family: Scriptina;
    font-size: 20px;
}
.btnsubmit{
    height: 40px;width: 300px;
    border:none;
    /*background-color: #53af57;*/
    background-color: rgb(116,208,250);
    color:#FFF; 
    font-family: Scriptina;
    font-size: 20px;
}
.btnsubmit:hover{
    height: 40px;width: 300px;
    border:none;
    background-color: white;
    color:rgb(116,208,250); 
    font-family: Scriptina;
    font-weight: bold;
    font-size: 20px;
}
#trucs{
    margin-top:0.2%;
    position: relative;
    background-color:rgb(000,000,000,0.2);
    width: 100%;

}
#lesoptions{
    margin-left: 15%;
}
.options{
    text-align: right;
    color: white;
    font-family: serif;
    margin-left: 3%;
    padding-left: 20px;
    font-size: 22px;
}
.options:hover{
    text-align: right;
    color: white;
    font-family: serif;
 /*   margin-left: 1px;*/
    padding:5px;
    border:1px solid gray;
    border-radius: 5px;
    /*background-color:#53af57;*/
    background-color: rgb(116,208,250);
    border:none;
}

a{
    text-decoration: none;
}
#apropos{
    border:1px solid white;
    height:160%;
    width: 25%;
    float: left;
    background-color: rgb(116,208,250);
}
#propos{
    border:3px solid black;
    text-align: center;
    color: black;
    background-color: white;
    padding: 2px;
    margin: 9%;
    font-weight: bold;
    font-size: 25px;
    font-family: criptina,"sakkal Majalla",sherif;
    margin-bottom: 7%;
}
.kangam{
    text-align: center;
    color: black;
    padding: 1px;
    margin: 1%;
    font-weight: bold,italic;
    font-size: 17px;
    font-family: criptina,"sakkal Majalla",sherif;
}
.kangamfin{
    text-align: center;
    color: black;
    margin: 10%;
    margin-top: 15%;
    font-weight: bold,italic;
    font-size: 17px;
    font-family: criptina,"sakkal Majalla",sherif;
    line-height: 160%;
    
}
.letext{
    text-align: center;
    color: black;
    padding: 1px;
    margin: 1%;
    font-weight: bold,italic;
    font-size: 18px;
    line-height: 180%;
    font-family: criptina,"sakkal Majalla",sherif;
    margin-top: 9%;
    margin-bottom: 0%;
}
.fonc{
    color: black;
    margin-left: 5%;
    font-weight: italic;
    font-size: 17px;
    font-family:sherif;
}
#blancmilieu{
    border:1px solid rgb(116,208,250);
    height:160%;
    width: 79.7%;
    margin-left: 25.3%;
   
}
/*style de la page inscription*/
#ins{
  padding: 0px;
  width: 100%;
  height: 100%;
  /*background-image: url("./image/imag.JPG");*/
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin-left: 2%;
  padding-top: 0%;
}
#erreur{
  color: red;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  background-color: white;
}
#contenu{

  padding-top: 1%;
  padding-bottom: 1%;
  width:400px;
  margin:0 auto;
  margin-left: 1%;
 /* margin-top:0%;*/
  float: left;
}
#inscription {
  background: white;
  width:100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#contenu h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
  color: rgb(116,208,250);
  /*font-family: "sakkal Majalla";*/
    font-family: Scriptina;
 /* text-shadow : 3px 2px 5px black;*/
}
input[type=text], input[type=password],input[type=tel], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: Scriptina;
}
input:valid{
  border-color: #53af30;
}
input:invalid{
  border-color: red;
}
input[type=email]:valid{
  font-family: italic;
}
.check{
  color: black;
}
#submit{
  background-color: rgb(116,208,250);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Script MT Bold";
  font-size: 20px;
}
#submit:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid rgb(116,208,250);
  font-family: "Script MT Bold";
}
label{
  font-family: Scriptina;

}
#droiteins{
    border: 1px solid white;
    width: 48%;
    margin-left: 43%;
    height: 98%;
}
/*style de la page de connexion*/
#divcnx{
  padding: 0px;
  width: 100%;
  height: 100%;
  /*background-image: url("./image/img.JPG");
  background-size: cover;
  background-repeat: no-repeat;*/
}
#instest{
  color: black;
  text-align: center;
  font-family: serif;
  font-size: 15px;
}
/*#erreur{
  color: black;
  text-align: center;
  font-family: serif;
  font-size: 25px;
}*/
#contenucnx{
  width:400px;
  margin:0 auto;
  margin-top:0%;
  height: 100%;
  padding-top: 7%;
}
#formcnx{
  width:100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#contenucnx h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
  color: rgb(116,208,250);
}
#text, #pwd{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#submit {
  background-color: rgb(116,208,250);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#submit:hover {
  background-color: white;
  color: rgb(116,208,250);}
